@tailwind base;
@tailwind components;
@tailwind utilities;


.viewer-info {
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-family: FontAwesome, serif;
    text-align: center;
}
.viewer-info::before {
  content: "\f129";
}
